<mat-toolbar color="primary">
  <mat-icon>person</mat-icon>
  <span>Scott Clayton</span>
</mat-toolbar>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="16px" fxLayoutGap.xs="8px">
  <div fxFlex *ngFor="let project of projects">
    <mat-card [class.mat-elevation-z4]="true" class="card">
      <mat-card-header>
        <mat-icon mat-card-avatar>code</mat-icon>
        <mat-card-title>{{project.Title}}</mat-card-title>
        <mat-card-subtitle>{{this.parse_date(project.Date)}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{this.cmsUrl + project.Image.url}}" alt="Microcontroller Simulator">
      <mat-card-content>
        <p>{{project.Description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="{{project.Link}}" target="_blank">View on GitHub</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<router-outlet></router-outlet>